In [1]:
#Creating a tuple
a=(4,5,8,7,9,7,9)

In [2]:
a

(4, 5, 8, 7, 9, 7, 9)

In [3]:
#indexing same as list
a[4]

9

In [4]:
b=(48,7,5,9,6,7,4)

In [5]:
#concatenation 
a+b

(4, 5, 8, 7, 9, 7, 9, 48, 7, 5, 9, 6, 7, 4)